/* #1A4490 Egyptian Blue #044a20 Green #D0A652 Apache #91556E Cannon Pink */

.navbar, body{
    background-color: #044a20 !important;
    color: white;
}

.navbar-brand, .nav-link {
    color: #ffffff !important;
    align-self: center;
}

.navbar-brand {
    margin-left: 20px;
}

.nav-link {
    margin-left: 30px;
}

.emrald {
    margin-left: 850px;
}

#hero {
    width: 100%;
}

.col-sm {
    margin-left: 8px;
    margin-top: 60px;
    border: 2px solid #ffffff;
    border-radius: 20px;
}

#home-col {
    width: 300px !important;
}

.container {
    padding-bottom: 70px;
}

.footer {
    height: 150px;
    border-top: 2px solid white;
}

h6 {
    align-self: center;
    font-size: 11px;
}